.app {
  width: 100%;

  .container {
    width: 80%;
    margin: 0 auto;

    .structure {
      img {
        width: 100%;
      }
    }
  }

  .header {
    text-align: center;
    background-color: #fff;
    height: 60px;
    line-height: 58px;
    font-size: 20px;
    font-weight: bold;
  }
}
